@model MealPlanner.Models.ViewModels.RecipeViewModel
@{
    Layout = "_MenuLayout";  
}

<div class="col-6">
    <form asp-action="EditRecipe" asp-route-recipeId="@Model.RecipeId">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input type="text" asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Categories" class="control-label">Categories</label>
            <input type="text" asp-for="Categories" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Ingredients" class="control-label">Ingredients</label>
            <input type="text" asp-for="Ingredients" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Instructions" class="control-label">Instructions</label>
            <input type="text" asp-for="Instructions" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-info" />
        </div>
        </form>
</div>