@model MealPlanner.Models.ViewModels.RecipeViewModel
@{
    Layout = "_RecipesLayout";  
}

<div class="col-6">
    <h2 class="text-center">@Model.Name</h2>
    <br/>
    @Model.Ingredients
    <div class="container">
        <div class="row justify-content-md-around mb-3">
            <a asp-action="EditRecipe" asp-route-recipeId="@Model.RecipeId" class="btn btn-dark" role="button">Edit</a>
            <a asp-action="DeleteRecipe" asp-route-recipeId="@Model.RecipeId" class="btn btn-info" role="button">Delete</a>
        </div>
    </div>
</div>