@model MealPlanner.Models.Recipe
@{
    Layout = "_RecipesLayout";  
}

<div class="col-6">
    <h2 class="text-center">@Model.Name</h2>
    <br/>
    <ul>
    @foreach (var i in Model.Ingredients)
    {
        <li>@i</li>
    }
    </ul>
    <div class="container">
        <div class="row justify-content-md-around mb-3">
            <a asp-action="EditRecipe" class="btn btn-dark" role="button">Edit</a>
            <a asp-action="ConfirmRecipeDeletion" asp-route-recipeId="@Model.RecipeId" class="btn btn-info" role="button">Delete</a>
        </div>
    </div>
</div>