@model MealPlanner.Models.Recipe

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
    <h2>@Model.Name</h2>
    <br/>
    @foreach (var m in Model.Ingridients)
    {
        @m
        <br/>
    }
</div>
</body>
</html>